# See <https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners>

# This file designates code owners for the repository. Code owner review will be required for protected branches if enabled

* @greysquirr3l
